body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

canvas {
	height: calc(100%-100px);
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

a, button, input, select {
	pointer-events: auto;
}

#overlay {
	position: absolute;
	width: 100%;
}

#title {
	padding: 10px;
	width: 100%;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.445);
}

#overlay-content {
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  padding: 0.5em;
  left: 0px;
	display: none;
	position: absolute;
	z-index: 9999;
	top: 45px;
}

#sceneNavigation {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}


#sceneNavigation li {
	padding: 10px;
	background-color: rgb(255, 255, 255);
	color: #000;
	display: inline-block;
	margin: 10px;
	border-radius: 10px;
}

#endXR {
	position: relative;
	bottom: 10px;
	border-radius: 10px;
	padding: 10px;
	background-color: rgb(255, 255, 255);
	color: #000;
}