body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 16px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

canvas {
	height: calc(100%-100px);
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

a, button, input, select {
	pointer-events: auto;
}

#overlay-content {
  background-color: rgba(0, 0, 0, 0.274);
  position: relative;
  padding: 0.5em;
  left: 0px;
	display: none;
}